:root {
  --black: #000000;
  --white: #ffffff;
  --red: #882000;
  --cyan: #68d0a8;
  --purple: #a838a0;
  --green: #50b818;
  --darkblue: #181090;
  --yellow: #f0e858;
  --lightred: #a04800;
  --darkbrown: #472b1b;
  --orange: #c87870;
  --darkgrey: #484848;
  --grey: #808080;
  --lightgreen: #98ff98;
  --lightblue: #5090d0;
  --lightgrey: #b8b8b8;
}

.App {
  text-align: left;
  margin: 50px;
}

select {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "C64";
  line-height: 16px;
  font-size: 16px;
  color: var(--white);
}
